:root {
    --Primary_01: #FFCC4A;
    --Primary_02: #4EAF4E;
    --Primary_03: #181818;
    --Secondary_01: #F5F5F5;
    --Secondary_02: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
}

.homepage {
    margin: 0 0 2px 0;
}

/* TOPBAR */
.topbar0 {
    background-color: var(--Primary_03);
}

.topbar {
    display: flex;
    align-items: center;
    gap: 340px;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    color: var(--Secondary_02);
    width: 1200px;
    padding: 18px 0;
    margin: 0 auto;
}

.work {
    display: flex;
    gap: 10px;
    align-items: center;
}

.adress {
    display: flex;
    gap: 10px;
    align-items: center;
}

.links {
    display: flex;
    gap: 25px;
    align-items: center;
}

/* HEADER */
.header0 {
    background-color: #1b1b1be8;
}

.header {
    display: flex;
    margin: 0 auto;
    padding: 40px 0px;
    width: 1200px;
    align-items: center;
    gap: 105px;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 11px;
}

.ask-experts {
    color: var(--Secondary_02);
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

.menu-bar {
    color: white;
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    font-family: Lato;
    font-size: 17.728px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.elipse {
    border-color: #525252;
}

.home {
    color: #5AB612;
    display: flex;
    align-items: center;
    gap: 8.22px;
}

.page {
    display: flex;
    align-items: center;
    gap: 8.22px;
}

.services {
    display: flex;
    align-items: center;
    gap: 8.22px;
}

.work {
    display: flex;
    align-items: center;
    gap: 8.22px;
}

.about {
    display: flex;
    align-items: center;
    gap: 8.22px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8.22px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 11px;
    background-color: var(--Secondary_02);
    border-radius: 42px;
    padding: 8px 41px 8px 10px;
}

.no {
    color: #353535;
    font-family: Lato;
    font-size: 17px;
}

/* NAV */
.photo-box {
    height: 700px;
    background-image: url(../images/nav/Photo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.photo-box2 {
    height: 500px;
    background-image: url(../images/nav/Photo-2.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.photo-box3 {
    height: 500px;
    background-image: url(../images/nav/Photo-3.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.photo-box4 {
    height: 500px;
    background-image: url(../images/nav/Photo-4.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.photo-box5 {
    height: 500px;
    background-image: url(../images/nav/Photo-5.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.Page-not-found {
    background-image: url(../images/nav/Photo-6.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 800px;
    width: 1200px;
    margin: 0 auto;
}

.photo {
    display: flex;
    justify-content: center;
    width: 100%;
    position: static;
}

.display-content0 {
    position: absolute;
    width: 1200px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.display-content {
    display: flex;
    width: 551.146px;
    padding: 55px 58px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    border-radius: 29px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 20%;
    left: 0px;
}

.display-content2 {
    display: flex;
    width: 551.146px;
    padding: 45px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    border-radius: 29px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 20%;
    left: 0px;
}

.photo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    padding: 0;
    margin: 0;
}

.h1 {
    width: 435px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 50px;
    font-style: normal;
    font-weight: 70;
}

.h1-1 {
    width: 435px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 50px;
    font-style: normal;
    font-weight: 70;
    margin: 5px;
}

.h1-2 {
    width: 435px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 46px;
    font-style: normal;
    font-weight: 70;
    margin-bottom: 0;
}

.sp1 {
    color: #595566;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
}

.b1 {
    display: flex;
    padding: 16px 33px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 42px;
    background-color: var(--Primary_03);
    color: var(--Secondary_02);
    width: 167px;
    height: 61px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.b2 {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    gap: 11px;
    border-radius: 42px;
    border: 1px solid #EBEBEB;
    background-color: var(--Secondary_02);
    color: #353535;
    justify-content: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.b-group1 {
    display: flex;
    align-items: center;
    gap: 13px;
}

.splide {
    margin: 40px auto;
} 

.page-not-found {
     width: 1200px;
    padding-top: 20px;
    margin: 0 auto;
    position: absolute;
    
}

/* about us */
.about-h {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.about0 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us {
    display: flex;
    width: 420.204px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.about-us1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 55px;
}

.b3 {
    background-color: var(--Primary_01);
    border-color: var(--Primary_01);
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 20px;
    display: flex;
    padding: 0px 12px;
    align-items: center;
    gap: 10px;
}

.about-text {
    display: flex;
    width: 420.204px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.about-text h1 {
    width: 420.204px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
    margin: 0;
}

.sp2 {
    width: 373.068px;
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.5%; /* 26.55px */
}

.sp3 {
    width: 420px;
    color: #595566;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%;/* 23.6px */
}

.line-1 {
    width: 379.702px;
    height: 1px;
    background: #D8D8D8;
    margin-bottom: 17.02px;
}

.b4-1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 170.208px;
    height: 94.019px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F6F6F6;
}

.star-12 {
    width: 27.288px;
    height: 27.288px;
    flex-shrink: 0;
    fill: var(--Primary_01);
    margin-right: 6.64px;
}

.b4 h1 {
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    margin: 0;
}

.b4 span {
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.5%; /* 23.6px */
}

.line-2 {
    width: 1px;
    height: 90.277px;
    background: #D8D8D8;
}

.vector {
    width: 22.382px;
    height: 22.382px;
    flex-shrink: 0;
    background: #D8D8D8;
    margin-right: 6.64px;
}

.b4-2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 170.208px;
    height: 94.019px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F6F6F6;
}

.b4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19.143px;
}

/* BLOG */
.blog-1 {
    background: var(--Secondary_01); 
}

.blog0 {
    width: 1200px;
    margin: 0 auto;
    padding: 0; 
    background: var(--Secondary_01);
}

.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;
    padding: 178px 0px ;
}

.blog-g-button {
    display: flex;
    padding: 1px 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: var(--Primary_02);
    width: 74px;
    /* height: 26; */
    color: var(--Secondary_02);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
}

.blog-title-text h1 {
    width: 507.892px;
    height: 94.118px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
    margin: 0;
}

.blog-title-text2 h1 {
    width: 507.892px;
    height: 94.118px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
    margin: 0;
}


.blog-title-button {
    background-color: var(--Primary_01);
    border-color: var(--Primary_01);
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    border-radius: 42px;
    display: flex;
    padding: 16px 37px;
    align-items: flex-start;
    gap: 10px;
    width: 167px;
    height: 61px;
}

.blog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 524px;
}

.blog-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'blogImage1 blogPhoto'
        'blog1Text blog2text'
        'blog1profile blog2profile';
    width: 1200px;
    margin: 0 auto;
    grid-gap: 27px;
}

.blog-image1 {
    grid-area: blogImage1;
    display: block;
}
.blog-image1-1 {
    border-radius: 20px;
    width: 582.799px;
    height: 320.044px;
    flex-shrink: 0;
}

.blog-content-1-content-text {
    grid-area: blog1Text;
    display: block;
}

.blog-content-1-content-text1 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

.blog-content-1-content-text h1 {
    width: 561.939px;
    height: 71.978px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 34.8px */
    margin: 0;
}

.blog-content-1-content-text span {
    width: 545.646px;
    color: #595566;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
}

.line-3 {
    width: 582px;
    height: 1px;
    background: #C1C1C1;

}

.blog-content-1-button {
    background-color: var(--Primary_03);
    border-color: var(--Primary_03);
    color: var(--Secondary_02);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    border-radius: 42px;
    display: flex;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    /* width: 167px;
    height: 61px; */
}

.blog-content-1-content-profile {
    grid-area: blog1profile;
    margin: 10px 0px;
    display: block;
}
   
.bloger-date {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 85px;
    margin: 10px 0px;
}

.blog-Photo {
    grid-area: blogPhoto;
}

.blog-Photo-1 {
    border-radius: 20px;
    width: 582.799px;
    height: 320.044px;
    flex-shrink: 0;
}

.blog-content-2-content-text {
    grid-area: blog2text;
    display: block;
}

.blog-content-2-content-text1 {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

.blog-content-2-content-text h1 {
    width: 561.939px;
    height: 71.978px;
    color: var(--Primary_03);
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 34.8px */
    margin: 0;
}

.blog-content-2-content-text span {
    width: 545.646px;
    color: #595566;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
}

.line-3 {
    width: 582px;
    height: 1px;
    background: #C1C1C1;

}

.blog-content-2-button {
    border: 1px solid #C1C1C1;
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    border-radius: 42px;
    display: flex;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    /* width: 167px;
    height: 61px; */
}

.blog-content-2-content-profile {
    grid-area: blog2profile;
    margin: 10px 0px;
    display: block;
}

.bloger-date2 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 10px 0px;
    width: 100%;
}


/* Contact form */

.contact-form {
    background: var(--Secondary_02); 
}

.contact-form0 {
    width: 1200px;
    margin: 0 auto;
    background: var(--Secondary_02);
    padding: 178px 0px;
}

.contact-form1 {
    display: flex;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 91px;
}

.contact-form2 {
    display: flex;
    width: 407px;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
}

.b5 {
    background-color: var(--Primary_01);
    border-color: var(--Primary_01);
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 20px;
    display: flex;
    padding: 0px 12px;
    align-items: center;
    gap: 10px;
    width: 127px;
}

.sp4 {
    width: 407px;
    color: #595566;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */  
}

.contact-form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}

.contact-form-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 688.37px;
}


.contact-form-text1 {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.textarea-field {
    display: flex;
    width: 318px;
    padding: 22px 33px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 54px;
    border: 1px solid #C1C1C1;
    background: var(--Secondary_02);
    color: #A9A9A9;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
}

.textarea-name {
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.textarea-field1 {
    display: flex;
    width: 666px;
    padding: 22px 33px 111px 33px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 22px;
    border: 1px solid #C1C1C1;
    background: var(--Secondary_02);
    color: #A9A9A9;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
}

.b6 {
    background-color: var(--Primary_03);
    border-color: var(--Primary_03);
    color: var(--Secondary_02);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    border-radius: 42px;
    display: flex;
    padding: 16px 28px;
    align-items: flex-start;
    gap: 10px;
    /* width: 167px;
    height: 61px; */
}


/* FOOTER */

.footer {
    position: relative;
}

.footer-background {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-color: #c7c7c7;
    overflow: hidden; 
}
 
.footer-background-up {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.9);
    backdrop-filter: blur(21.5px);
}

.line-6 {
    width: 1200.016px;
    height: 1px;
    background: #707070;
}

.footer-content0 {
    width: 1200px;
    margin: 25px auto;
    padding: 0;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 171px;
    /* position: absolute; */
    bottom: 126.08px;
    width: 1199.369px;
    /* height: 236.91782px; */
}
.footer-content-logo {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    gap: 140px;
}

.footer-content-logo1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 31px;
    width: 100%;
    height: 100%;
}

.footer-links {
    display: flex;
    gap: 33px;
    align-items: center;
}

.line-4 {
    width: 1px; 
    height: 236.918px;
    background: #707070;
}

.footer-content-content {
    display: flex;
    align-items: flex-start;
    gap: 99px;
}

.footer-content-content-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-content-1-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;  
}

.footer-content-1-title h2 {
    color:var(--Secondary_02);
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 23.2px */
    margin: 0px;
}

.line-5 {
    width: 31.952px;
    height: 3.1px;
    border-radius: 20px;
    background: var(--Primary_01);
}

.footer-content-1-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content-1-text ul {
    color:var(--Secondary_02); 
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    margin-left: 20px;
    padding-left: 5px;
    margin-top: 0px;
}

.footer-content-content-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px; 
}

.footer-content-3-text  {
    width: 232.079px;
    height: auto;
    color: var(--Secondary_02);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
}

.adress2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-b {
    display: flex;
    padding: 15px 23px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    background: var(--Secondary_02);
}

.footer-b a {
    color: var(--Primary_03);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
}

.copyright0 {
    width: 1200px;
    margin: 30px auto;
    padding: 0;
    position: relative;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 19.83px;
    width: 1200px;
    flex-shrink: 0;
    bottom: 26,05px;
}

.copyright-text {
    color: var(--Secondary_02);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
}
